.UserForm
  padding 16px
  font-size 1.2rem
  &-input
    border 1px solid #ccc
    border-radius 3px
    margin-bottom 8px
    padding 8px 4px
    display block
    width 100%
  &-button
    background #8d00ff
    border-radius 4px
    color #fff
    height 32px
    display block
    width 100%
    text-align center

.FormTitle
  text-align center
  padding-top 3rem