.ListOfCategories
  display flex
  overflow auto
  width 100%
  &-item
    padding 0 8px
    user-select none
  &--fixed
    background #fff
    border-radius 60px
    box-shadow 0 0 20px rgba(0, 0, 0, .3)
    left 0
    margin 0 automax-width 400px
    position fixed
    right 0
    top -20px
    transform scale(.5)
    z-index 1