.PhotoCard
  min-height 200px
  &-wrap
    border-radius 10px
    display block
    height 0
    overflow hidden
    padding 56.25% 0 0 0
    position relative
    width 100%
  &-img
    box-shadow 0 10px 14px rgba(0, 0, 0, .2)
    height 100%
    position absolute
    object-fit cover
    top 0
    width 100%
    animation fadein 1s ease
  &-button
    outline none
    padding-top 8px
    display flex
    align-items center
    background none
    border none
    & svg
      margin-right 4px

@keyframes fadein
  from
    filter blur(5px)
    opacity 0
  to
    filter blur(0)
    opacity 1
